*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mains: (
    color:black,
    gradiente:linear-gradient(to top, #856f08, #736208, #615507, #514907, #413c06, #3c3205, #362804, #2f1f03, #2a1707, #21100a, #150808, #000000),
);

@mixin flex-column-center-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}