.footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: $color-titulo;
    font-weight: 800px;
    font-family: $tipografia ;
    border-top: 3px solid $color-titulo;
}

.footer__contenido{
    font-size: 15px;
    padding: 20px;
}